body {
    color: black;
}

.button-group {
    margin-bottom: 20px;
}

.accordian-group {
    padding: 10px;
}

.left-nav-container {
    min-width: 400px;
    margin-right: 10%;
    margin-left: 3%;
}

.header {
    color: #0071dc;
}